USE [master]
GO
/****** Object:  Database [TC_Permisos]    Script Date: 21/05/2024 19:04:38 ******/
CREATE DATABASE [TC_Permisos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TC_Permisos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TC_Permisos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TC_Permisos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TC_Permisos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TC_Permisos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TC_Permisos]
GO
/****** Object:  Table [dbo].[Administradores]    Script Date: 21/05/2024 19:04:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administradores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombreAdmin] [varchar](50) NOT NULL,
	[cuilAdmin] [varchar](50) NOT NULL,
	[id_usuario_creador] [int] NULL,
 CONSTRAINT [PK_Administradores] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Almacen]    Script Date: 21/05/2024 19:04:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Almacen](
	[id] [int] NOT NULL,
	[nombre] [varchar](255) NULL,
	[ubicacion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria_Producto]    Script Date: 21/05/2024 19:04:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria_Producto](
	[id] [int] NOT NULL,
	[nombre] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 21/05/2024 19:04:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NOT NULL,
	[cuil] [varchar](255) NOT NULL,
	[id_usuario_creador] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 21/05/2024 19:04:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[id_factura] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NULL,
	[fecha_compra] [date] NULL,
	[total] [decimal](10, 2) NULL,
	[id_producto_comprado] [int] NULL,
 CONSTRAINT [PK__Factura__6C08ED536456B819] PRIMARY KEY CLUSTERED 
(
	[id_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gestores_stock]    Script Date: 21/05/2024 19:04:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gestores_stock](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombreGestor] [varchar](255) NOT NULL,
	[cuilGestor] [varchar](255) NOT NULL,
	[id_user_creador] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permisos]    Script Date: 21/05/2024 19:04:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permisos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 21/05/2024 19:04:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NULL,
	[precio] [decimal](10, 2) NULL,
	[stockMinimo] [int] NULL,
	[stockActual] [int] NULL,
	[descripcion] [varchar](255) NULL,
	[categoriaId] [int] NULL,
	[proveedorId] [int] NULL,
	[almacenId] [int] NULL,
	[clienteId] [int] NULL,
	[gestorStockId] [int] NULL,
	[vendedorId] [int] NULL,
 CONSTRAINT [PK__Producto__3213E83FE605759D] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 21/05/2024 19:04:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[id] [int] NOT NULL,
	[nombre] [varchar](255) NULL,
	[direccion] [varchar](255) NULL,
	[telefono] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 21/05/2024 19:04:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles_permisos]    Script Date: 21/05/2024 19:04:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles_permisos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_rol] [int] NOT NULL,
	[id_permiso] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles_usuarios]    Script Date: 21/05/2024 19:04:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles_usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_rol] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 21/05/2024 19:04:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[password] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vendedores]    Script Date: 21/05/2024 19:04:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vendedores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombreVendedor] [varchar](255) NOT NULL,
	[cuilVendedor] [varchar](255) NOT NULL,
	[id_user_creador] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Administradores] ON 

INSERT [dbo].[Administradores] ([id], [nombreAdmin], [cuilAdmin], [id_usuario_creador]) VALUES (1, N'Econtrera', N'2042045544', 1)
SET IDENTITY_INSERT [dbo].[Administradores] OFF
GO
INSERT [dbo].[Almacen] ([id], [nombre], [ubicacion]) VALUES (1, N'Casa Meli', N'Spegazzini')
GO
INSERT [dbo].[Categoria_Producto] ([id], [nombre]) VALUES (1, N'Accesorios')
INSERT [dbo].[Categoria_Producto] ([id], [nombre]) VALUES (2, N'Hardware PC')
GO
SET IDENTITY_INSERT [dbo].[clientes] ON 

INSERT [dbo].[clientes] ([id], [nombre], [cuil], [id_usuario_creador]) VALUES (1, N'Gerardo Ibarra', N'20-12345678-9', 2)
INSERT [dbo].[clientes] ([id], [nombre], [cuil], [id_usuario_creador]) VALUES (2, N'Nicolas Garrido', N'20-87654321-9', 2)
INSERT [dbo].[clientes] ([id], [nombre], [cuil], [id_usuario_creador]) VALUES (3, N'Cosme Fulanito', N'20-76543219-8', 3)
SET IDENTITY_INSERT [dbo].[clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Factura] ON 

INSERT [dbo].[Factura] ([id_factura], [id_usuario], [fecha_compra], [total], [id_producto_comprado]) VALUES (3, 17, CAST(N'2024-05-21' AS Date), CAST(100.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[Factura] OFF
GO
SET IDENTITY_INSERT [dbo].[gestores_stock] ON 

INSERT [dbo].[gestores_stock] ([id], [nombreGestor], [cuilGestor], [id_user_creador]) VALUES (1, N'GestorElias', N'20432399452', 3)
SET IDENTITY_INSERT [dbo].[gestores_stock] OFF
GO
SET IDENTITY_INSERT [dbo].[permisos] ON 

INSERT [dbo].[permisos] ([id], [nombre]) VALUES (1, N'crear cliente')
INSERT [dbo].[permisos] ([id], [nombre]) VALUES (2, N'editar cliente propio')
INSERT [dbo].[permisos] ([id], [nombre]) VALUES (3, N'editar cualquier cliente')
SET IDENTITY_INSERT [dbo].[permisos] OFF
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([id], [nombre], [precio], [stockMinimo], [stockActual], [descripcion], [categoriaId], [proveedorId], [almacenId], [clienteId], [gestorStockId], [vendedorId]) VALUES (1, N'Auriculares', CAST(100.00 AS Decimal(10, 2)), 10, 48, N'Aparato para oreja', 1, 1, 1, 1, NULL, NULL)
INSERT [dbo].[Producto] ([id], [nombre], [precio], [stockMinimo], [stockActual], [descripcion], [categoriaId], [proveedorId], [almacenId], [clienteId], [gestorStockId], [vendedorId]) VALUES (2, N'Mouse', CAST(50.00 AS Decimal(10, 2)), 10, 50, N'Raton de computadora', 1, 1, 1, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
INSERT [dbo].[Proveedor] ([id], [nombre], [direccion], [telefono]) VALUES (1, N'Sony', N'San Martin 239', N'123456789')
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [nombre]) VALUES (1, N'administrador')
INSERT [dbo].[roles] ([id], [nombre]) VALUES (2, N'gerente')
INSERT [dbo].[roles] ([id], [nombre]) VALUES (3, N'usuario')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[roles_permisos] ON 

INSERT [dbo].[roles_permisos] ([id], [id_rol], [id_permiso]) VALUES (1, 1, 1)
INSERT [dbo].[roles_permisos] ([id], [id_rol], [id_permiso]) VALUES (2, 1, 2)
INSERT [dbo].[roles_permisos] ([id], [id_rol], [id_permiso]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[roles_permisos] OFF
GO
SET IDENTITY_INSERT [dbo].[roles_usuarios] ON 

INSERT [dbo].[roles_usuarios] ([id], [id_rol], [id_usuario]) VALUES (2, 1, 1)
INSERT [dbo].[roles_usuarios] ([id], [id_rol], [id_usuario]) VALUES (3, 2, 2)
INSERT [dbo].[roles_usuarios] ([id], [id_rol], [id_usuario]) VALUES (4, 2, 3)
SET IDENTITY_INSERT [dbo].[roles_usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[usuarios] ON 

INSERT [dbo].[usuarios] ([id], [nombre], [email], [password]) VALUES (1, N'Administrador', N'admin@example.com', N'123')
INSERT [dbo].[usuarios] ([id], [nombre], [email], [password]) VALUES (2, N'Empleado 1', N'empleado1@example.com', N'123')
INSERT [dbo].[usuarios] ([id], [nombre], [email], [password]) VALUES (3, N'Empleado 2', N'empleado2@example.com', N'123')
SET IDENTITY_INSERT [dbo].[usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[vendedores] ON 

INSERT [dbo].[vendedores] ([id], [nombreVendedor], [cuilVendedor], [id_user_creador]) VALUES (1, N'Pepe', N'20472143212', 2)
SET IDENTITY_INSERT [dbo].[vendedores] OFF
GO
ALTER TABLE [dbo].[Administradores] ADD  CONSTRAINT [DF_Administradores_id_usuario_creador]  DEFAULT (NULL) FOR [id_usuario_creador]
GO
ALTER TABLE [dbo].[clientes] ADD  DEFAULT (NULL) FOR [id_usuario_creador]
GO
ALTER TABLE [dbo].[gestores_stock] ADD  DEFAULT (NULL) FOR [id_user_creador]
GO
ALTER TABLE [dbo].[vendedores] ADD  DEFAULT (NULL) FOR [id_user_creador]
GO
ALTER TABLE [dbo].[Administradores]  WITH CHECK ADD  CONSTRAINT [FK_Administradores_usuarios] FOREIGN KEY([id_usuario_creador])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[Administradores] CHECK CONSTRAINT [FK_Administradores_usuarios]
GO
ALTER TABLE [dbo].[clientes]  WITH CHECK ADD  CONSTRAINT [FK_clientes_usuarios] FOREIGN KEY([id_usuario_creador])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[clientes] CHECK CONSTRAINT [FK_clientes_usuarios]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK__Factura__id_prod__1332DBDC] FOREIGN KEY([id_producto_comprado])
REFERENCES [dbo].[Producto] ([id])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK__Factura__id_prod__1332DBDC]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_usuarios] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_usuarios]
GO
ALTER TABLE [dbo].[gestores_stock]  WITH CHECK ADD  CONSTRAINT [FK_gestores_stock_creador] FOREIGN KEY([id_user_creador])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[gestores_stock] CHECK CONSTRAINT [FK_gestores_stock_creador]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [fk_almacen] FOREIGN KEY([almacenId])
REFERENCES [dbo].[Almacen] ([id])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [fk_almacen]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [fk_categoria] FOREIGN KEY([categoriaId])
REFERENCES [dbo].[Categoria_Producto] ([id])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [fk_categoria]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [fk_cliente_producto] FOREIGN KEY([clienteId])
REFERENCES [dbo].[clientes] ([id])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [fk_cliente_producto]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [fk_gestorStock_producto] FOREIGN KEY([gestorStockId])
REFERENCES [dbo].[gestores_stock] ([id])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [fk_gestorStock_producto]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [fk_proveedor] FOREIGN KEY([proveedorId])
REFERENCES [dbo].[Proveedor] ([id])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [fk_proveedor]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [fk_vendedor_producto] FOREIGN KEY([vendedorId])
REFERENCES [dbo].[vendedores] ([id])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [fk_vendedor_producto]
GO
ALTER TABLE [dbo].[roles_permisos]  WITH CHECK ADD  CONSTRAINT [FK_roles_permisos_permiso] FOREIGN KEY([id_permiso])
REFERENCES [dbo].[permisos] ([id])
GO
ALTER TABLE [dbo].[roles_permisos] CHECK CONSTRAINT [FK_roles_permisos_permiso]
GO
ALTER TABLE [dbo].[roles_permisos]  WITH CHECK ADD  CONSTRAINT [FK_roles_permisos_rol] FOREIGN KEY([id_rol])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[roles_permisos] CHECK CONSTRAINT [FK_roles_permisos_rol]
GO
ALTER TABLE [dbo].[roles_usuarios]  WITH CHECK ADD  CONSTRAINT [FK_roles_usuarios_rol] FOREIGN KEY([id_rol])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[roles_usuarios] CHECK CONSTRAINT [FK_roles_usuarios_rol]
GO
ALTER TABLE [dbo].[roles_usuarios]  WITH CHECK ADD  CONSTRAINT [FK_roles_usuarios_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[roles_usuarios] CHECK CONSTRAINT [FK_roles_usuarios_usuario]
GO
ALTER TABLE [dbo].[vendedores]  WITH CHECK ADD  CONSTRAINT [FK_vendedores_creador] FOREIGN KEY([id_user_creador])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[vendedores] CHECK CONSTRAINT [FK_vendedores_creador]
GO
USE [master]
GO
